{% extends "userprofile_base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% load bootstrap_tags %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-1 mb-0  ">
        <h6>Change password</h6>
    </div>


    <form method="post">
        {% csrf_token %}

        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify
            you typed it in correctly.</p>

        {{ form|as_bootstrap }}

        <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary d-block ml-auto">
    </form>
</div>
{% endblock %}
