{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-2 mb-2  ">

        <h6 class="float-left">About</h6>
    </div>

    <h2>What is Quakr</h2>
    <p>Quakr is a Young Quaker Network which aspires to be a lose organisation to
        <strong>collect all Young Quaker activities in one place
        </strong>. We hope that it will be a central place for groups to host their pages, list events,
        share resources and post interesting things for the Young Quaker Community.</p>

    <p>This is a grassroots initiative that will be owned and run by the community. One of the key design points is that all
        elements are as "self service" as possible, e.g. if you want to create a webpage for your group you click the "Add
        page" button, no applications or sending emails back and forth. The hope will be that it becomes self sustaining.</p>




    <h2>Who are Young Quakers</h2>
    <p>Briefly, Quakerism is a christian based religious movement that was founded in England in the mid 17th century, Quakers' testimonies (our message to the world if you like) is that of Equality, Peace, Simplicity and Truth.
        Quakers believe that there is 'that of god in everyone' and therefore everyone is of equal worth. Quakers generally meet (often called a "Meeting for worship") in silent listening to that of god/the sprit/soul/the inner light or to any Friend who has felt moved to speak in the Meeting.
    </p>
    <p>As a community of Quakers we strive, struggle and journey together to bring our testimonies to life.</p>

    <p>Find out more about <a href="http://quaker.org.uk/about-quakers">Quakers</a></p>


    <p><i>Young Quakers</i> is a subjective term, it is used here loosely to mean those people who are "younger than the majority of UK Quakers". Or more simply, it is up to you.</p>



    <h2>Future plans</h2>
    <p>Finish the site!</p>
    <p>Currently there is an Android app in development, this will enable better integration with location, accounts and notifications
        as well as convenience for accessing the site</p>

    <h2>Privacy and data info</h2>
    <p>Please see the main page on <a href="{% url "privacy" %}">privacy and data</a></p>

    <h2>Open Source</h2>
    <p>This website is <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">Open Source</a> you can view, edit, improve and copy it. <a href="https://github.com/michaelwood/yqn/">The code is availabe on github</a>.</p>

    <h2>Thanks</h2>
    <p>Thank you to the <a href="https://radleycharitabletrust.wordpress.com/">Radley Charitable Trust</a> for funding the development of this project.</p>
    <p>This website is built on the shoulders of the following Open Source projects: mapit.mysociety.org, Openstreetmap, Django, Django-filter, Django-registration, python Magic, Feedparser, pytz, social-auth, Django Rest Framework, Pillow, mysqlclient, mysql, VueJs, jQuery, jQuery chosen, Leaflet, Vue datepicker, Bootstrap, wsgi, Apache2 and Debian GNU/Linux
        </p>
    <p>Website background is by <a href="https://www.flickr.com/photos/maxim_mogilevskiy/35861334152/in/album-72157685054158283/">
            Maxim Mogilevskiy</a> CC-BY-SA
    </p>

    <p>Author <a href="https://michaelwood.me.uk/">Michael Wood</a></p>


    <h2>Contact</h2>
    <p>If you have any questions please don't hesitate to contact us on info@<span id="domain"></span></p>
    <p>Please submit <a href="">feedback using our form</a></p>

</div>

<script>
    $(document).ready(function(){
        $("#domain").text("quakr.net");
    });
</script>


{% endblock %}
