{% extends 'events_base.html' %}

{% block events_content %}
{% load vue_widget %}


<div class="my-3 p-3 bg-light rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-2">
      <div class="float-right">

        {% if user.is_authenticated %}

        <button title="Add Single Event" class="btn btn-primary btn-sm" data-toggle="add-object-modal" data-options='{ "startModel" : "Events",  "title" : "Add your one-off event", "success" : "Thank you for adding your event"}' data-test-id="add-event-btn">
            <i class="fas fa-plus-circle"></i>
             Event
        </button>

        <button title="Add a link to your Events" class="btn btn-secondary btn-sm" data-toggle="add-object-modal" data-options='{ "startModel" :  "EventsLocations",  "success" : "Thank you for adding your event",  "title" : "Add a link to your events" }'>
            <i class="fas fa-plus-circle"></i>
            Events Link
        </button>
        {% else %}
        <a href="{% url "login" %}?next={% url "events" %}?action=do_post" class="btn btn-primary btn-sm">
            <i class="fas fa-plus-circle"></i>
            Event
        </a>

        <a href="{% url "login" %}?next={% url "events" %}?action=do_post" class="btn btn-primary btn-sm">
            <i class="fas fa-plus-circle"></i>
            Events Link
        </a>


        {% endif %}

      </div>

      <h6 class="float-left">Events</h6>
        <a href="#" tabindex=0 class="small float-left ml-2" data-trigger="focus" data-placement="left" data-content="These are event aggregated from around the web and from
           the YQN community. The events are not run by YQN" data-toggle="popover" data-container="body">
            <i class="far fa-question-circle"></i>
        </a>
    </div>

    <h1>One-off events</h1>
    <a name="one-off"></a>
    <div id="events-app" class="border-bottom">
        <events></events>
    </div>

   <div class="mb-1 pt-2 border-bottom">
       <a name="regular"></a>
       <h1 class="mb-4">Regular Events</h1>
    </div>


    <div id="regular-events-app" class="border-bottom">
        <regular-events></regular-events>
    </div>

</div>

{% vue_widget "events.html" %}
{% vue_widget "regular-events.html" %}


{% endblock %}