{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}Posts{% endblock %}

{% block category_nav %}
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link" href="{% url 'posts' %}">
                Posts
                <span class="badge badge-pill badge-warning align-text-bottom">{{total_posts}}</span>
                <i class="fas fa-blog"></i>
            </a>
            <a class="nav-link" href="{% url 'twitters' %}">Tweets
                <i class="fab fa-twitter"></i>
            </a>

            <a class="nav-link" href="{% url 'instagram' %}">Instagram
                <i class="fab fa-instagram"></i>
            </a>
        </nav>
    </div>

{% endblock %}



{% block content %}


    {% block posts_content %}
    {% endblock %}

{% endblock %}
