{% extends 'base.html' %}
{% block title %}Privacy{% endblock %}
{% block content %}
{% load static %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-2 mb-2  ">

        <h6 class="float-left">Privacy and Data use information</h6>
    </div>

    <h2>Cookies</h2>
    <p>This site uses cookies for technical functional purposes only and does not store any of your data in the cookies.</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">csrftoken</a> - This is a security cookie to prevent malicious use of the site (random token)</li>
        <li>session - This stores your logged in status</li>
        <li>yqn-site-settings - This is for site settings, such as whether to show the welcome message and for future settings such as languages. It is not associated with any user.</li>
    </ul>


    <h2>Location information</h2>
    <p>When you use the locate button on a map your browser locates you, this information is not sent out of your browser anywhere</p>
    <p>Post code lookup. To turn post codes into map coordinates we use <a href="https://mapit.mysociety.org/">mapit.mysociety.org</a>. <a href="https://mapit.mysociety.org/legal/">Information on their terms and privacy.</a></p>
    <p>The <a href="{% url "map" %}">Map</a>. The map is provided by <a href="https://www.openstreetmap.org/about">Open Street map</a></p>

    <h2>Logging in using google account</h2>
    <p>When you log in to this site using your google account google sends us a message to say you're successfully authenticated and shares with us your email address, name and username.
        This allows us to create an account on this site.
    </p>

    <h2>User account</h2>
    <p>Your user account can be deleted along with any of your data at any time. Data that is associated with you includes your profile, uploads, your posts and your events.</p>

    <h2>Server logs</h2>
    <p>
    This server uses log files. These files logs visitors to the site. The information inside the log files includes internet protocol (IP) addresses, browser type, date/time stamp, referring/exit pages. This information is used to analyse trends (such as hit count, popular pages) and to administer the site (logging errors). IP addresses, and other such information are not linked to any user accounts or any other personal information.
    </p>

    <h2>Contact</h2>
    <p>If you have any questions please don't hesitate to contact us on info@<span id="domain"></span></p>

</div>

<script>
    $(document).ready(function(){
        $("#domain").text("quakr.net");
    });
</script>
{% endblock %}
