{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
{% load static %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-2 mb-2  ">

        <h6 class="float-left">Search <i class="fas fa-search"></i></h6>
        <div class="float-right">
       </div>
    </div>

    <div class="m-2">
       <div id="search-app">
            <search query="{{view.request.GET.q}}"></search>
        </div>

    </div>

</div>


{% load vue_widget %}
{% vue_widget "search.html" %}

{% endblock %}
