{% extends 'base.html' %}


{% block title %}Groups{% endblock %}

{% block category_nav %}

{% endblock %}

{% block content %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="clearfix border-bottom border-gray pb-1 mb-0  ">
        <div class="float-right">

            {% if user.is_authenticated %}

            <button title="Add a Page for your Group" class="btn btn-primary btn-sm" data-toggle="add-object-modal" data-options='{ "startModel": "GroupPages", "title": "Add Group Page", "success": "Group page added" }' data-test-id="add-group-page-btn">
                <i class="fas fa-plus-circle"></i>
                Group Page
            </button>

            <button title="Add a link to your existing website" class="btn btn-secondary btn-sm" data-toggle="add-object-modal" data-options='{ "startModel": "GroupRedirectPages", "title": "Add a link", "success": "Link added" }'>
                <i class="fas fa-plus-circle"></i>
                Link
            </button>
            {% else %}

            <a href="{% url "login" %}?next={% url "pages" %}?action=do_post" class="btn btn-primary btn-sm">
                <i class="fas fa-plus-circle"></i>
                Group Page
            </a>

            <a href="{% url "login" %}?next={% url "pages" %}?action=do_post" class="btn btn-primary btn-sm">
                <i class="fas fa-plus-circle"></i>
                Link
            </a>

            {% endif %}


        </div>

       <h5 class="float-left">Groups</h5>
        <a href="#" tabindex=0 class="float-left small ml-2 text" data-trigger="focus" data-placement="left" data-html="true" data-content='These are pages by the Quakr community. The views expressed in these posts are their own
           authors and not of Quakr.' data-toggle="popover" data-container="body">
            <i class="far fa-question-circle"></i>
        </a>


    </div>

    <div class="card-deck">
    {% for page in pages %}
    <div class="card page-list-item m-4 align-self-center shadow-sm" style="min-width: 15rem;"  >

        <div class="card-header">
            <i class="fas fa-map-pin position-absolute float-left" style="color: #343a40; font-size: 2.4em; top: -10px;"></i>
            <span class="float-right ml-4">{{page.title}}</span>
        </div>

        <div class="card-body overflow-hidden">
            <h5 class="card-title">{{page.title}}</h5>
            {% if page.body %}
            <p class="card-text">
            {{page.body|striptags|truncatewords_html:14|safe}}
            </p>
            {% endif %}

            {% if page.eventslocation_set.count > 0 %}
            <a href="{% url 'user-page-events' page.slug %}"><i class="fas fa-calendar-alt"></i> Events</a></p>
            {% endif %}

            <p class="card-text small text-muted">
            Short link: <a href="{% url "user-pages" page.slug %}">{{origin}}{% url "user-pages" page.slug %}</a>
            </p>

            {% if page.redirect %}
            <p class="card-text">
            <a href="{{page.redirect}}" target="_blank">{{page.redirect}}
                <i class="fas fa-directions"></i>
            </a>
            </p>
            {% endif %}

            <p class="card-text">
                <small>Updated {{page.last_modified|date:"jS M Y"}}</small>
            </p>

            <a href="{% if page.redirect %}{{page.redirect}}{% else %}{% url "user-pages" page.slug %}{% endif %}"
                class="btn btn-primary card-link">Visit</a>
        </div>
    </div>
    {% endfor %}
    </div>

    <small class="d-block text-right mt-3">
        {{page.last_modified}}
    </small>
</div>

<script>
    /* TODO */
    yqnBus.$on("data-added", function(data){
        console.log(data);
        window.location.reload();
    });
</script>

{% endblock %}

