<scipt type="text/template" id="modal-template">
    <div class="modal fade" tabindex="-1" role="dialog" ref="bs-modal" id="add-object-modal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Required fields are denoted with a <span style="color: red">*</span> <small>(star)</small></p>
                    <div v-if="error" class="alert alert-warning">Please check the form.
                            <span v-for="(value, key) in error" class="alert-error"><strong>{{key}}</strong> - <span v-for="msg in value">{{msg}} </span>
                        </span>
                    </div>

                    <p>{{info}}</p>

                    <form ref="main-form">
                        <transition-group tag="div" name="list">

                        <div v-for="field in fields" class="form-group list-item" v-bind:key="field.name">
                            <label v-bind:for="field.name">{{field.data.label}} <span v-if="field.data.required" style="color:red">*</span></label>

                            <location v-if="field.name == 'postcode'" v-bind:field="field" v-on:selected="autocompleteSelected"></location>
                            <slug v-else-if="field.name == 'slug'" type="text" v-bind:from="input['title']" v-model="input[field.name]" v-bind:name="field.name" v-bind:id="field.name" v-on:selected="autocompleteSelected"></slug>

                            <input v-else-if="field.data.max_length" v-bind:name="field.name" type="text" class="form-control" v-model="input[field.name]"  v-bind:id="field.name" >
                            <div v-else-if="field.data.type === 'boolean'" class="form-check">
                                <input v-bind:name="field.name" type="checkbox" class="form-check-input" v-model="input[field.name]"  v-bind:id="field.name" >
                                <label class="form-check-label">{{field.data.label}}</label>
                            </div>
                            <textarea v-else-if="field.data.type ==='string' && !field.data.max_length" v-bind:id="field.name" v-bind:name="field.name" class="form-control" v-model="input[field.name]" ></textarea>

                            <datetime v-else-if="field.data.type === 'datetime'"  v-on:selected="autocompleteSelected" v-bind:value="input[field.name]" v-bind:name="field.name"></datetime>

                            <span v-else-if="field.data.type === 'field'" >
                                <strong v-text="created[field.name]" class="d-block m-1"></strong>
                                <fk-autocomplete  v-bind:name="field.name" v-on:selected="autocompleteSelected" v-bind:model-hint="field.data.model_hint"></fk-autocomplete>
                            </span>

                            <div v-else-if="field.data.type === 'choice'">
                                <select v-bind:name="field.name" class="form-control" v-model="input[field.name]"  v-bind:id="field.name">
                                    <option v-for="choice in field.data.choices" v-bind:value="choice.value">{{choice.display_name}}</option>
                                </select>
                            </div>

                            <input v-else v-bind:name="field.name" type="text" class="form-control" v-model="input[field.name]"  v-bind:id="field.name" />

                            <small>{{field.data.help_text}}</small>
                        </div>
                        </transition-group>

                    </form>
                </div>
                <div class="modal-footer">
                    <button v-if="creationStack.length" v-on:click.prevent="resumeState" class="btn btn-primary">Back</button>

                    <button type="button" class="btn btn-secondary" v-on:click="close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="add" data-test-id="add-object-modal-addnext">
                        <span v-if="creationStack.length">Next</span>
                        <span v-else>Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</scipt>

<script type="text/javascript">

/* <datetime> Date and time picker
 * Makes uses of vueJSDatepicker to do the heavy lifting
 * https://github.com/charliekassel/vuejs-datepicker
 * Extends this to have hour/minute field and use our pattern of event handling
 */

Vue.component('datetime', {
    props: ['name', 'value'],

    components: {
        /* Note this symbol is currently loaded in base.html */
        vuejsDatepicker
    },
    template: '<div class="d-flex flex-column"> \
                    <vuejs-datepicker  :required="true" :bootstrap-styling="true" :clear-button="true" v-on:selected="dateSelected" placeholder="Select..." v-model="date" v-bind:value="value" data-test-id="date-picker" ></vuejs-datepicker> \
                    <div class="pt-2 form-row"> \
                        <div class="col"> \
                            <label>Hour</label> \
                            <select ref="hour" class="form-control" v-on:change="hourSelected" v-bind:data-test-id="[ name + \'-hour-select\' ]"><option v-for="(useless, h) in 24">{{h}}</option></select> \
                        </div> \
                        <div class="col"> \
                            <label>Minute</label> \
                            <select ref="minute" class="form-control" v-on:change="minuteSelected" v-bind:data-test-id="[ name + \'-minute-select\' ]"><option v-for="(useless, m) in 60">{{m}}</option></select>\
                        </div> \
                    </div> \
                </div>',

    data: function(){
        return {
            date: null, /* The date input */
            timedate: new Date(),
        }
    },

    created: function(){
        if (this.value){
            this.date = new Date(this.value);
            this.timedate = new Date(this.value);
        }
    },

    mounted: function(){
        /* if we had an initial value set set this on the time selectors */
        this.$nextTick(function(){
            if (this.value){
                this.$refs['minute'].value = this.date.getMinutes();
                this.$refs['hour'].value = this.date.getHours();
            }
        });
    },

    methods: {
        dateSelected: function(date){
            this.timedate.setDate(date.getDate());
            this.timedate.setMonth(date.getMonth());
            this.timedate.setFullYear(date.getFullYear());
            this.$emit("selected", { key: this.name, value: this.timedate });
        },

        minuteSelected: function(e){
            let minute = Number(e.srcElement.value);
            this.timedate.setMinutes(minute);
            this.$emit("selected", { key: this.name, value: this.timedate });
        },

        hourSelected: function(e){
            let hour = Number(e.srcElement.value);
            this.timedate.setHours(hour);
            this.$emit("selected", { key: "datetime", value: this.timedate });
        },
    }
});

/* <slug> uses a named field (from) to suggest an appropirately formatted slug */
Vue.component('slug', {
    props: ['name', 'id', 'from'],

    template: '<input type="text" v-bind:name="name" v-bind:id="id" v-model="suggestion" class="form-control" v-on:keyup="keyup" />',

    data: function(){
        return {
            suggestion: '',
            edited: false,
        }
    },

    watch: {
        from : "makeSuggestion",
    },


    methods: {

        keyup: function(){
            this.edited = true;
            this.$emit("selected", { key: "slug", value: this.suggestion });
        },

        makeSuggestion: function(){
            /* stop making suggestions if a slug has been modified/entered */
            if (this.edited && this.from.length > 0){
                return;
            }

            var str = this.from;

            /* modified from http://dense13.com/blog/2009/05/03/converting-string-to-slug-javascript/ */
            str = str.replace(/^\s+|\s+$/g, ''); // trim
            str = str.toLowerCase();

            str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                .replace(/\s+/g, '-') // collapse whitespace and replace by -
                .replace(/-+/g, '-'); // collapse dashes

            this.suggestion = str;

            this.$emit("selected", { key: "slug", value: this.suggestion });
        },
    },
});

/* <location> Uses mapit to look up lat/lnglocation from the postcode
*  This is a little clunky but offloads hitting their API to the client
*/
Vue.component('location', {
    props: ['field'],

    data: function(){
        return {
            postcode: null,
            searching: false,
            success: false,
         }
     },

    template: '<div class="input-group mb-3"> \
              <input type="text" class="form-control border-right-0" v-bind:id="field.name" v-model="postcode" v-bind:name="field.name" aria-label="postcode with lookup button addon" aria-describedby="postcode-lookup-btn"> \
                <div class="input-group-append"> \
                    <button class="btn" type="button" v-on:click.prevent="lookup" id="postcode-lookup-btn" v-bind:class="[{ \'disabled\' : searching },  success ?  \'btn-outline-success\' : \'btn-outline-danger\' ]">Check \
                    <div class="spinner-border spinner-border-sm d-none" v-bind:class="{ \'d-inline-block\' : searching }" role="status" aria-hidden="true"></div> \
                    </button> \
                </div> \
              </div>',

    methods: {
        lookup: function(){
            this.searching  = true;
            var ctx = this;

            $.getJSON("https://mapit.mysociety.org/postcode/" + this.postcode,
             function(data){
                if (data.length == 0){
                    return;
                }

                ctx.$emit("selected", { key: "lat", value: data.wgs84_lat });
                ctx.$emit("selected", { key: "lng", value: data.wgs84_lon });
                ctx.$emit("selected", { key: "postcode", value: data.postcode });

                ctx.success = true;
                ctx.searching = false;
            }).fail(
             function(){
                console.log("error doing postcode lookup");
                ctx.searching = false;
                ctx.success = false;

            });

        },

    },
});

/* <fk-autocomplete> When the field is a foreign key look up the possible
 * keys/values and create a very basic autocomplete field
*/
Vue.component('fk-autocomplete', {
    props: ['name', 'modelHint'],

    template: '<div v-bind:data-test-id="[ name + \'-autocomplete\' ]"> \
                <input type="text" placeholder="Search..." class="form-control" v-model="searchText" v-bind:id="name"> \
                <div class="spinner-border spinner-border-sm m-2 d-none mr-4" v-bind:class="{ \'d-block\' : searching }" role="status" aria-hidden="true" style="position: absolute; z-index: 100; right: 0;"></div> \
                <div class="flex-column shadow-sm border d-none list-group" style="max-height: 10em; overflow: auto" v-bind:class="{ \'d-flex\':  selectionActive }" > \
                  <span class="list-group-item list-group-item-action p-2" v-if="options.length === 1"><strong>No results</strong></span> \
                  <a href="#" v-for="option in options" class="list-group-item list-group-item-action p-2" v-on:click.prevent="selected(option.id, option.title)">{{option.title}}</a> \
                </div> \
               </div>',

    data: function(){
        return {
            searchText: "",
            options: [],
            searching: false,
            selectionActive: false,
            selection: "",
            urlHint: "",
        }

    },

    watch: {
      searchText: "search",
    },

    methods: {
        search: function(){
            /* We've just set our searchText via the selection so don't search again */
            if (this.searchText == this.selection){
                return;
            }
            var ctx = this;
            if (this.searchText.length < 2){
                this.options = [];
                return;
            }
            this.selectionActive = true;
            this.searching = true;

            $.getJSON("/api/"+this.modelHint+"/?search="+this.searchText, function(result){
                ctx.options = result;
                ctx.searching = false;
                ctx.options.push({ id: "__new__", title: "Add new..." });
            });

        },
        selected: function(id, title) {
            this.selectionActive = false;
            this.selection = title;

            /* value is id this sounds strange but id is the fk of the object
             * selected
             */
            var selected = { key: this.name, value: id };

            if (id === "__new__"){
                selected.modelHint = this.modelHint;
                selected.fieldName = this.name;
            }

            this.$emit("selected", selected);
            this.searchText = title;
            this.options = [];
            this.searching = false;
        },

    },
});

/* Main component for the form */
Vue.component('add-object-modal', {
        template: "#modal-template",

        data: function(){
            return {
                fields: [],
                info: "",
                input: {},
                error: null,
                creationStack: [],
                tinyMCE: false,
                model: this.startModel,
                created: {},
                title: "",
             }
        },

        created: function(){
            let ctx = this;

            yqnBus.$on("modal", function(data){

            if (data.startModel === undefined ||
                data.success === undefined ||
                data.title == undefined) {
                console.error("Not enough parameters for modal widget");
                return;
            }

            ctx.model = data.startModel;
            ctx.title = data.title;
            ctx.success = data.success;

            $(ctx.$refs['bs-modal']).modal("show");
        });

        },

        mounted: function (){
            $(this.$refs['bs-modal']).on("shown.bs.modal", this.modalShown);
            $(this.$refs['bs-modal']).on("hidden.bs.modal", this.close);
        },

        watch: {
            fields: 'maybeInitTinyMCE',
            model: 'fetchData',
        },

        methods: {
            /* Introspect the model to generate the form */
            fetchData: function(){

                let ctx = this;

                $.ajax({
                    url: "/api/" + ctx.model + "/",
                    method: "OPTIONS",
                    success: function(data){
                        if (data.description){
                            ctx.info = data.description;
                        }

                        var fields = Object.keys(data.actions.POST);
                        var fieldsArray = []

                        for (var i in fields){
                            /* We don't need the read_only fields
                             * also not going to handled nested fields yet
                             */
                            if (data.actions.POST[fields[i]].read_only == true ||
                                data.actions.POST[fields[i]].type == "nested object" ||
                                fields[i] == "lat" ||
                                fields[i] == "lng"){
                                continue;
                            }

                            /* Set the selector ID to indicate if we're going need to
                             * initalise the tinyMCE editor
                             */
                            if (data.actions.POST[fields[i]].type ==='string' &&
                                !data.actions.POST[fields[i]].max_length){
                                 ctx.tinyMCE = "#" + fields[i];
                             }

                            var field = {
                                name : fields[i],
                                data: data.actions.POST[fields[i]]
                            };

                            fieldsArray.push(field);
                        }

                        ctx.fields = fieldsArray;
                    },
                });



            },

            add: function(){
                var url =  "/api/" + this.model + "/";
                var ctx = this;

                if (this.tinyMCE){
                    let inputName = tinyMCE.activeEditor.getElement().name;

                    this.input[inputName] = tinyMCE.activeEditor.getContent();

                    /* Fall back if the editor failed */
                    if (this.input[inputName].length === 0){
                        this.input[inputName] = $('['+inputName+']').val();
                    }
                }


                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(this.input),
                    contentType: 'application/json',
                    accept: 'application/json',
                    headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                    success: function (data) {
                        yqnBus.$emit("data-added", data);

                        /* Clear the current form and any errors */
                        ctx.error = null;

                        if (ctx.creationStack.length > 0){
                            ctx.resumeState(data);
                            return;
                        }

                        $(ctx.$refs['bs-modal']).modal('hide');

                        for (i in ctx.input){
                            ctx.input[i] = '';
                        }

                        /* TODO this is a bit messy transition case */
                        if (data.go_to){
                            window.location = data.go_to;
                        }

                        yqnBus.$emit("notify", {
                            'title': ctx.title + " success",
                            'body': ctx.success,
                        });

                    },
                    error: function (error) {
                        console.log(error);
                        /* TODO Make the error messages more friendly */
                        $(".modal").scrollTop(0);
                        ctx.error = error.responseJSON;
                    },
                });

                return false;
            },

            modalShown: function(){
                this.maybeInitTinyMCE();

                this.$refs['main-form'].getElementsByTagName("label")[0].focus();
            },

            autocompleteSelected: function(data){
                if (data.value === "__new__"){
                    /* We're switching models to be able to add the new object */
                    this.switchModel(data.modelHint, data.fieldName);
                    return;
                }
                /* Vue.set triggers the bindings correctly (as aposed to directly setting the value) */
                Vue.set(this.input, data.key, data.value);
            },

            switchModel: function(newModel, fieldName){
                this.saveState(fieldName);

                if (!newModel){
                    throw("No new model given");
                    return;
                }

                /* Reset current state */
                this.input = {};
                this.fields = [];
                this.error = null;
                this.tinyMCE = false;
                this.model = newModel;

                this.fetchData();
            },

            saveState: function(fieldName){
                /* Get the current content from tinyMCE */
                if (this.tinyMCE){
                    let inputName = tinyMCE.activeEditor.getElement().name;
                    this.input[inputName] = tinyMCE.activeEditor.getContent();
                }

                let state = {
                    model: this.model,
                    input: this.input,
                    fields: this.fields,
                    wasFetching: fieldName,
                };

                /* Make sure this state object is copied */
                let newState = JSON.parse(JSON.stringify(state));

                this.creationStack.push(newState);
            },

            /* We went off and added an object and now it is time to resume the
               previous object creation.
               addedObject is the object we just added
             */
            resumeState: function(addedObject){
                let state = this.creationStack.pop();

                this.model = state.model;
                this.fields = state.fields;
                this.input = state.input;

                Vue.set(this, 'fields', state.fields)


               for (let key in state.input){
                   /* Trigger the update in Vue */
                   Vue.set(this.input, key, state.input[key]);
               }


               /* TODO isn't always going to be title */
               Vue.set(this.created, state.wasFetching, addedObject.title);
               this.input[state.wasFetching] = addedObject.id;


               return true;
            },

            close: function(){

                /* Go back to the start of the stack and delete the stack */
                if (this.creationStack.length > 0){
                    this.model = this.creationStack[0].model;
                    this.creationStack = [];
                }

                this.input = {};
                this.error = null;

                if (this.tinyMCE){
                    tinyMCE.activeEditor.setContent("");
                }
            },

            maybeInitTinyMCE: function(){
                this.$nextTick(function(){

                    if (typeof(tinyMCE) === 'undefined'){
                        return;
                    }

                    try {
                        /* Find our editor */
                        for(let i=0; tinyMCE.EditorManager.editors; i++){
                           let editor = tinyMCE.EditorManager.editors[i];

                           if (this.tinyMCE.indexOf(editor.id) > -1){
                               editor.remove();
                           }
                        }
                    } catch {}

                    if (this.tinyMCE){
                        let ctx = this;
                        let modal = $(this.$refs['bs-modal']);

                        /* TinyMCE appears to be easily racy. Replacement TODO*/

                        function initTinyMCE(){
                            tinyMCE.init({
                                plugins: "autolink code lists emoticons",
                                menubar: false,
                                toolbar: "undo redo bold italic underline lists emoticons | code",
                                statusbar: false,
                                selector: ctx.tinyMCE,
                                relative_urls: false,
                                document_base_url: '//',
                                setup: function(ed){
                                    ed.on("init", function(){
                                        /* See if we already have initial content for the editor */
                                        let inputName = this.getElement().name;
                                        if (ctx.input[inputName]){
                                            this.setContent(ctx.input[inputName]);
                                        }
                                    });
                                },
                            });
                        }

                        if (modal.is(":visible")){
                            initTinyMCE();
                        } else {
                            modal.on("shown.bs.modal", initTinyMCE);
                        }
                    }
                });
            },

        }, /* End methods */

    });

var modalObjApp = new Vue({
    el: '#add-object-modal-app',
});

</script>
