
<script type="text/x-template" id="events-template">
 <div id="posts-widget">
    <div class="border-gray rounded bg-white mb-2 mt-2 d-flex flex-row">
        <span>Show:</span>

        <a href='#' class="badge badge-secondary m-1"
         v-for="source in sourceTypes"
         v-on:click.prevent="currentSource = source">{{source.name}}</a>
         <a v-if="currentUser" href="#" class="badge badge-warning m-1" v-on:click.prevent="currentUser = null">{{currentUser.first_name}} &times;</a>
    </div>

<transition-group name="list" tag="div">
    <div class="d-flex flex-column w-100 p-1 shadow-sm bg-white rounded pt-3 mb-3 list-item" v-for="post in posts" v-bind:key="post.id" v-bind:id="'post-'+post.id"
        v-bind:dclass="[ expandedPost == post.id ?  expandedPostCSSClass : '']">


        <div class="d-flex flex-row post-details pb-2">
            <div>
                <img v-bind:src="post.thumbnail_computed" alt="thumb" class="mr-2 rounded-circle post-thumb">
            </div>
            <div class="post-metadata d-flex flex-column flex-fill">

                <strong class="d-block text-gray-dark">
                    <a v-if="post.ext_url" v-bind:href="post.ext_url" target="_blank" class="ext-link-yqn"><h3>{{post.title}}</h3></a>
                    <a v-else href="#" v-on:click.prevent="currentPostId = post.id" class="ext-link-yqn"><h3>{{post.title}}</h3></a>
                </strong>

                <div v-if="post.ext_author">
                    <a v-bind:href="post.ext_url">{{post.ext_author}}</a>
                </div>
                <div v-else>
                   <a href="#" v-on:click.prevent="currentUser = post.user">{{post.user.first_name}}</a>
                </div>


                <div class="text-muted">
                    <i v-if="post.source === sourceTypes.BLOG.id" class="fas fa-globe-americas" data-toggle="tooltip" data-placement="top" title="Blog"> Blog</i>
                    <i v-else-if="post.source === sourceTypes.PODCAST.id" class="fas fa-podcast" data-toggle="tooltip" data-placement="top" title="Podcast"> Podcast</i>
                    <i v-else-if="post.source === sourceTypes.LOCAL.id" class="fas fa-users" data-toggle="tooltip" data-placement="top" title="YQN community"> Quakr</i>
                    <i v-else-if="post.source === sourceTypes.NEWS.id" class="fas fa-newspaper" data-toggle="tooltip" data-placement="top" title="News"> News</i>
                    <span>{{post.publish_date}}</span>
                </div>
            </div>
            <div class="dropdown dropleft action-menu-yqn">
                <a href class="action-menu-yqn p-1 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       href="#"
                       v-on:click.prevent="currentUser = post.user">
                        <i class="far fa-user"></i> All from user
                    </a>
                    <a class="dropdown-item" href="#" v-on:click.prevent="yqnUtils.share(post.url)"><i class="fas fa-share-alt"></i> Share</a>
                    <a v-if="post.user.id == yqnUtils.loggedInUser.id" class="dropdown-item" href="#" v-on:click.prevent="deleteObj(post.id)"><i class="far fa-trash-alt"></i> Delete</a>
                    <a class="dropdown-item" href="#" v-on:click.prevent="yqnBus.$emit('contact', { modelName: 'Posts', objectId: post.id, title: 'Report: '+post.title, report: true })"><i class="far fa-flag"></i> Report</a>
                </div>
            </div>
            <!-- / dropdown -->
        </div>


        <div class="flex-fill d-flex flex-column pb-3 mb-0 lh-125 post-text-body post"
         v-bind:class="[ post.source === sourceTypes.LOCAL.id ? expandedPostCSSClass : '']">
        <!-- v-bind:class="[ expandedPost == post.id ? expandedPostCSSClass : '']"> -->
            <!-- start post -->

            <div v-if="post.media" class="mt-2 m-auto">
                <img class="img-fluid rounded" v-bind:src="post.media.url" />
                <div v-html="post.text" v-bind:data-postid="post.id" class="media-text post-text p-2" ref="post-text"></div>
            </div>

            <div v-else v-html="post.text" v-bind:data-postid="post.id" class="media-text post-text p-2" ref="post-text"></div>
            <!-- end post -->
        </div>

        <div v-if="post.ext_url" class="flex-fill border-top p-3 font-italic">
            <a v-bind:href="post.ext_url" class="d-block text-right" target="_blank" v-bind:title="post.title">Continue Reading <i class="fas fa-external-link-alt"></i></a>
        </div>

<!--
        <div class="post-expand-overflow" v-if="post.source === sourceTypes.PODCAST.id">
            <button class="m-2 btn btn-sm btn-light" v-on:click="expandPost(post.id, $event)" data-toggle="tooltip" title="Expand">
                <i v-bind:class="[ expandedPost == post.id ? 'fas fa-minus-circle' : 'fas fa-plus-circle']">
                </i> More
            </button>
        </div>
    -->

    </div>
</transition-group>
    <span class="d-block text-center mt-3">
        <a href="#" v-on:click.prevent="currentPostId=null; limit = limit + 3;">More posts</a>
    </span>
</div>
</script>
<!-- end posts widget -->

<script type="text/javascript">

    var MAX_POST_HEIGHT = 500;

    Vue.component('posts', {
        props: {
            'limit' : { default: 5  },
         },
        template: '#events-template',

        data: function() {
            return {
            yqnUtils: yqnUtils,
            yqnBus: yqnBus,
            expandedPostCSSClass: "post-expand-overflow-open",
            expandedPost: undefined,
            posts: [],
            enabled: false,
            nextPageUrl: "",

            sourceTypes: {

                ALL: { id: "", name: "All" },
                LOCAL: { id: 0, name: "Quakr" },
                BLOG: { id: 1, name: "Blogs" },
                PODCAST: { id: 2, name: "Podcasts" },
                NEWS: {id: 3, name: "News" },
            },

            currentUser: null,
            currentSource: null,
            currentPostId: null,
            }
        },

        watch: {
            currentSource: 'fetchData',
            limit: 'fetchData',
            currentUser: 'fetchData',
            currentPostId: 'fetchData',
        },

        created: function (){
            this.currentSource = this.sourceTypes.ALL;
            if (window.location.hash.indexOf("post-") > 0){
                this.currentPostId =  window.location.hash.substr(("#post-").length)
            }

            let ctx = this;
            yqnBus.$on("data-added", function(){
                /* TODO instead of refresh we could appened to the posts[] ? */
                console.log("Get message data changed");
                ctx.fetchData();
             });


        },

        updated: function(){
            /* Setup the Bootstrap tooltips */
            this.$nextTick(function () {
                $(".list-item [title]").tooltip();
            });
        },
/*
        updated: function () {
            this.$nextTick(function () {
                /* Code that will run only after the entire view has been rendered */
                /* Toggle the visibility of the Read more button by checking to see
                   if the rendered post text element's client size would be larger than the max height.
                 *//*
                for (var text in this.$refs['post-text']){
                    var textElement = this.$refs['post-text'][text];
                    if (textElement.getBoundingClientRect().height > MAX_POST_HEIGHT){
                        console.log("hiding too big nuttong "+ textElement.dataset.postid);
                       $("#post-"+ textElement.dataset.postid +" .post-expand-overflow").show();
                    } else {
                        $(".post-expand-overflow").hide();
                        console.log("hiding too big nuttong "+ textElement.dataset.postid);
                    }
                }
            })
        },*/

        methods: {
            fetchData() {
                var incoming = this;
                console.log("Fetching data for source"+this.currentSource);

                var url = "/api/Posts/"

                var params = {
                    limit : this.limit,
                };

                if (this.currentSource){
                    params.source = this.currentSource.id;
                }

                if (this.currentUser){
                    params.user = this.currentUser.id;
                }

                if (this.currentPostId){
                    window.location.hash = 'post-'+this.currentPostId;
                    params.id = this.currentPostId;
                } else {
                    window.location.hash = '';
                }

                url += yqnUtils.urlParams(params);

                $.getJSON(url, function (data) {
                    incoming.posts = data.results;
                    incoming.enabled = true;
                    incoming.nextPageUrl = data.next;
                });
            },

            expandPost(id, event){
                $(event.srcElement).tooltip('hide');

                if (this.expandedPost === id){
                    this.expandedPost = -1;
                    event.srcElement.scrollIntoView(false);
                } else {
                    /* Open */
                    this.expandedPost = id;
                }
            },

            deleteObj(id){
                ctx = this;
                yqnUtils.delete("/api/Post/" + id, function(){
                    yqnBus.$emit("notify", { title: "Deleted", body: "Post deleted"});
                    ctx.fetchData();
                });
            }

        }
    });

var vApp = new Vue({
    el: '#posts-app',
});

</script>
