<script type="text/x-template" id="events-template">
 <div id="posts-widget" class="p-2">
    <div class="border-gray rounded bg-white mb-2 mt-2 d-flex flex-row p-2">
        <span>Show:</span>

        <a href='#' class="badge badge-secondary m-1"
         v-for="source in sourceTypes"
         v-on:click.prevent="currentSource = source">{{source.name}}</a>
         <a v-if="currentUser" href="#" class="badge badge-warning m-1" v-on:click.prevent="currentUser = null">{{currentUser.first_name}} &times;</a>
    </div>

<transition-group name="list" tag="div">
    <div class="d-flex flex-column w-100 p-1 shadow-sm bg-white rounded p-3 mb-3 list-item" v-for="post in posts" v-bind:key="post.id" v-bind:id="'post-'+post.id"
        v-bind:dclass="[ expandedPost == post.id ?  expandedPostCSSClass : '']">


        <div class="d-flex flex-row post-details pb-2">
            <div>
                <img v-bind:src="post.thumbnail_computed" alt="thumb" class="mr-2 rounded-circle post-thumb">
            </div>
            <div class="post-metadata d-flex flex-column flex-fill ml-2">

                <strong class="d-block text-gray-dark">
                    <span v-if="post.title">
                    <a v-if="post.ext_url" v-bind:href="post.ext_url" target="_blank" class="ext-link-yqn"><h3 class="d-inline-block">{{post.title}}</h3></a>
                    <a v-else v-bind:href="post.url" class="ext-link-yqn"><h3 class="d-inline-block">{{post.title}}</h3></a>
                    </span>
                    <a v-else v-bind:href="post.url" class="ext-link-yqn"><h3 class="d-inline-block">{{post.publish_date}}</h3></a>

                    <small><a v-bind:href="post.url" ><i class="fas fa-link align-text-top"></i></a></small>
                </strong>

                <div v-if="post.ext_author">
                    <a v-bind:href="post.ext_url">{{post.ext_author}}</a>
                </div>
                <div v-else>
                   <a href="#" v-on:click.prevent="currentUser = post.user" v-bind:title="'All posts by' + post.user.first_name">{{post.user.first_name}}</a>
                </div>


                <div class="text-muted">
                    <i v-if="post.source === sourceTypes.BLOG.id" class="fas fa-globe-americas" data-toggle="tooltip" data-placement="top" title="Blog"> Blog</i>
                    <i v-else-if="post.source === sourceTypes.PODCAST.id" class="fas fa-podcast" data-toggle="tooltip" data-placement="top" title="Podcast"> Podcast</i>
                    <i v-else-if="post.source === sourceTypes.LOCAL.id" class="fas fa-users" data-toggle="tooltip" data-placement="top" title="YQN community"> Quakr</i>
                    <i v-else-if="post.source === sourceTypes.NEWS.id" class="fas fa-newspaper" data-toggle="tooltip" data-placement="top" title="News"> News</i>
                    <small>{{post.publish_date}}</small>
                </div>
            </div>
            <div class="dropdown dropleft action-menu-yqn">
                <a href class="action-menu-yqn p-1 dropdown-toggle" v-bind:id="[ post.id + '-menu-button']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu" v-bind:aria-labelledby="[ post.id + '-menu-button']">
                    <a class="dropdown-item"
                       href="#"
                       v-on:click.prevent="currentUser = post.user">
                        <i class="far fa-user"></i> All by {{post.user.first_name}}
                    </a>
                    <a class="dropdown-item" href="#" v-on:click.prevent="yqnUtils.share(post.url)"><i class="fas fa-share-alt"></i> Share</a>
                    <a v-if="post.user.id == yqnUtils.loggedInUser.id" class="dropdown-item" href="#" v-on:click.prevent="deleteObj(post.id)" data-test-id="post-delete-btn"><i class="far fa-trash-alt" ></i> Delete</a>
                    <a class="dropdown-item" href="#" v-on:click.prevent="yqnBus.$emit('contact', { modelName: 'Posts', objectId: post.id, title: post.title, report: true })"><i class="far fa-flag"></i> Report</a>
                </div>
            </div>
            <!-- / dropdown -->
        </div>


        <div class="flex-fill d-flex flex-column pb-3 mb-0 lh-125 post-text-body post"
         v-bind:class="[ post.source === sourceTypes.LOCAL.id ? expandedPostCSSClass : '']">
            <!-- start post -->

            <div v-if="post.media" class="mt-2 ml-auto mr-auto">
                <img class="img-fluid rounded" v-bind:src="post.media.url" />
                <div v-html="post.text" v-bind:data-postid="post.id" class="media-text post-text p-2" ref="post-text"></div>
            </div>

            <div v-else v-html="post.text" v-bind:data-postid="post.id" class="media-text post-text p-2" ref="post-text"></div>
            <!-- end post -->
        </div>

        <div class="flex-fill border-top p-3 font-italic">
            <a v-if="post.ext_url" v-bind:href="post.ext_url" class="d-block text-right" target="_blank" v-bind:title="post.title">Continue Reading <i class="fas fa-external-link-alt"></i></a>
            <a v-if="post.source == sourceTypes.LOCAL.id" href="#" class="d-block text-right" v-on:click.prevent="openComments(post)" data-test-id="comments-btn"><i class="far fa-comments"></i> Comments {{post.comments_count}}</a>
        </div>

        <!-- Comments section -->
        <div class="ml-5 flex-column comments" v-if="comments" v-bind:class="[ showCommentsForPost == post.id ? 'd-flex' : 'd-none' ]" >

            <transition-group name="list" tag="div">
                <div v-for="comment in comments" class="p-3 shadow-sm rounded mt-2 mb-2 mr-2" v-bind:key="comment.id" >
                    <div class="d-flex flex-row post-details pb-2">
                        <div>
                            <img v-bind:src="comment.thumbnail_computed" alt="thumb" class="mr-2 rounded-circle post-thumb">
                        </div>
                        <div class="post-metadata d-flex flex-column flex-fill">

                            <a href="#" v-on:click.prevent="currentUser = comment.user">{{comment.user.first_name}}</a>


                            <div class="text-muted">
                                <i class="fas fa-comment"></i>
                                <small>{{comment.publish_date}}</small>
                            </div>
                        </div>


                        <div class="dropdown dropleft action-menu-yqn">
                            <a href class="action-menu-yqn p-1 dropdown-toggle" v-bind:id="[ comment.id + '-menu-button']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu" v-bind:aria-labelledby="[ post.id + '-menu-button']">
                                <a v-if="comment.user.id == yqnUtils.loggedInUser.id" class="dropdown-item" href="#" v-on:click.prevent="deleteObj(comment.id)"><i class="far fa-trash-alt" ></i> Delete</a>
                                <a class="dropdown-item" href="#" v-on:click.prevent="yqnBus.$emit('contact', { modelName: 'Posts', objectId: comment.id, title: comment.title, report: true })"><i class="far fa-flag"></i> Report</a>
                            </div>
                        </div>
                        <!-- / dropdown -->
                    </div>

                    <div class="flex-fill d-flex flex-column lh-125 post-text-body post post-expand-overflow-open bg-light rounded">
                        <!-- start comment post -->

                        <div v-if="comment.media" class="mt-3 m-auto">
                            <img class="img-fluid rounded" v-bind:src="comment.media.url" />
                            <div v-html="comment.text" v-bind:data-postid="comment.id" class="media-text post-text p-2"></div>
                        </div>

                        <div v-else v-html="comment.text" class="media-text post-text p-2"></div>
                        <!-- end post -->
                    </div>
                </div>
            </transition-group>

            <button v-if="yqnUtils.loggedInUser.name" class="btn btn-sm btn-outline-secondary mt-2 mb-2 mr-2 align-self-end" v-on:click="addComment(post)" data-test-id="add-comment-btn" ><i class="fas fa-plus-circle"></i> Comment</button>
            <a v-else href="/accounts/login/?next=/posts/" class="btn btn-sm btn-outline-secondary mt-2 mb-2 mr-2 align-self-end"><i class="fas fa-plus-circle"></i> Comment</a>
        </div>
        <!-- End Comments section-->
    </div>
</transition-group>
    <span class="d-block text-center mt-3">
        <a v-if="currentPostId" v-bind:href="postsUrl" >More posts</a>
        <a v-else href="#" v-on:click.prevent="currentLimit = currentLimit + 3;">More posts</a>
    </span>
</div>
</script>
<!-- end posts widget -->

<script type="text/javascript">

    var MAX_POST_HEIGHT = 500;

    Vue.component('posts', {
        props: {
            'limit' : { default: 5  },
            'post' : { default: null },
            'postsUrl' : { default: null },
        },

        template: '#events-template',

        data: function() {
            return {
            yqnUtils: yqnUtils,
            yqnBus: yqnBus,
            expandedPostCSSClass: "post-expand-overflow-open",
            expandedPost: undefined,
            posts: [],
            enabled: false,
            nextPageUrl: "",

            showCommentsForPost: undefined,
            comments: [],

            sourceTypes: {
                /* See db models.Sources for origins  */

                ALL: { id: "", name: "All" },
                LOCAL: { id: 0, name: "Quakr" },
                BLOG: { id: 1, name: "Blogs" },
                PODCAST: { id: 2, name: "Podcasts" },
                NEWS: {id: 3, name: "News" },
            },

            currentUser: null,
            currentSource: null,
            currentPostId: null,
            currentLimit: 5,
            }
        },

        watch: {
            currentSource: 'fetchData',
            currentLimit: 'fetchData',
            currentUser: 'fetchData',
            currentPostId: 'fetchData',
        },

        created: function (){
            this.currentSource = this.sourceTypes.ALL;

            this.currentPostId = this.post;

            this.currentLimit = this.limit;

            let ctx = this;
            yqnBus.$on("data-added", function(){
                /* TODO instead of refresh we could appened to the posts[] ? */
                console.log("Get message data changed");
                ctx.fetchData();
                ctx.fetchCommentsData();
             });


        },

        updated: function(){
            /* Setup the Bootstrap tooltips */
            this.$nextTick(function () {
                $(".list-item [title]").tooltip();
            });
        },

        methods: {
            fetchData() {
                let ctx = this;
                console.log("Fetching data for source"+this.currentSource);

                var url = "/api/Posts/"

                var params = {
                    limit : this.currentLimit,
                };

                if (this.currentSource){
                    params.source = this.currentSource.id;
                }

                if (this.currentUser){
                    params.user = this.currentUser.id;
                }

                if (this.currentPostId){
                    params.id = this.currentPostId;
                } else {
                    window.location.hash = '';
                }

                url += yqnUtils.urlParams(params);

                $.getJSON(url, function (data) {
                    ctx.posts = data.results;
                    ctx.enabled = true;
                    ctx.nextPageUrl = data.next;
                });
            },

            deleteObj(id){
                ctx = this;
                yqnUtils.delete("/api/Post/" + id, function(){
                    yqnBus.$emit("notify", { title: "Deleted", body: "Post deleted"});
                    ctx.fetchData();
                    if (ctx.showCommentsForPost){
                        ctx.fetchCommentsData();
                    }
                });
            },

            openComments(post){
                /* If we're already showing the comments then unshow them */
                if (this.showCommentsForPost == post.id){
                    this.showCommentsForPost = undefined;
                    return;
                } else {
                    this.showCommentsForPost = post.id;
                }

                this.fetchCommentsData();
            },

            fetchCommentsData(){
                if (!this.showCommentsForPost){
                    return;
                }

                let ctx = this;

                console.log("Fetching comments");
                $.getJSON("/api/Post/" + ctx.showCommentsForPost, function (data) {
                    ctx.comments = data.comments;
                });
            },

            addComment(post){
                yqnBus.$emit("modal",
                    {
                        startModel: "Post/" + post.id + "/comments",
                        title : "Add a comment",
                        success: "Your comment was added thanks for your contribution"
                    });
            },



        }
    });

var vApp = new Vue({
    el: '#posts-app',
});

</script>
