
<script type="text/x-template" id="regular-events-template">
    <div id="events-locations-widget" class="mr-2 ml-2">
        <div class="d-flex flex-column mb-2">
            <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#search-methods" v-on:click="fetchRegions">
                <i class="fas fa-search"></i> Show Search Options
            </button>
        </div>

        <div class="collapse" id="search-methods">

            <div class="form-group">
                <label>Alphabetical</label>
                <div class="rounded bg-white border p-2">
                        <a href='#' class="badge"
                            v-for="letter in alphabet"
                            v-bind:class="[ search == letter ? 'badge-dark' : 'badge-light' ]"
                            v-on:click.prevent="search = letter; searchText = '' ">{{letter}}</a>
                        <a href="#" class="float-right" v-on:click.prevent="search = undefined" title="Clear" style="color: red">&times;</a>
                </div>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" v-model="searchText" class="form-control" placeholder="Search title..." />
            </div>

            <div class="form-group">
                <label>Regional events</label>
                <select class="form-control" v-on:change="setCurrentRegion">
                    <option value="">-</option>
                    <option v-for="region in regions" v-bind:value="region.id">{{region.title}}</option>
                </select>
                <small>Events that are held in multiple places in a Region</small>
            </div>

        </div>

       <p v-if="regularEvents.length == 0 && enabled">None added yet!</p>

       <transition-group name="list" tag="div">
           <div class="d-flex flex-row w-100 shadow-sm bg-white rounded p-3 mb-3 list-item" v-for="event in regularEvents" v-bind:key="event.id" >
               <div class="d-flex flex-column flex-fill">
                    <div class="d-flex flex-row">

                        <div class="rounded-circle post-thumb d-block" style="min-width: 90px; background-color: #343a40">
                            <h3 class="text-center mt-4" style="color: white;"><i class="far fa-calendar-alt"></i></h3>
                        </div>

                        <div class="d-flex flex-row flex-fill">
                            <div class="ml-3 d-flex flex-column pb-2 flex-fill">
                                <h3>{{event.title}}</h3>
                                <p>
                                <span v-if="event.group_page_details">
                                    Group: <a v-bind:href="event.group_page_details.url">{{event.group_page_details.title}}</a><br />
                                </span>
                                <span v-if="event.venue">
                                    Location: {{event.venue_details.title}} <span v-html="event.venue_details.address"></span> <a v-bind:href="'https://www.google.com/maps/search/?api=1&query=' + encodeURI(event.venue_details.lat)+',' +encodeURI(event.venue_details.lng) ">Map</a>
                                </span>
                                <span v-if="event.region">
                                    Region: {{event.region_details.title}}
                                </span>
                                </p>
                            </div>
                        </div>

                    </div>
                    <a class="m-2" v-if="event.url" v-bind:href="event.url">Find out more - {{event.title}}</a>
                    <a class="m-2 ml-auto" v-if="event.has_email" href="#" v-on:click.prevent='yqnBus.$emit("contact", { modelName: "EventsLocation", objectId: event.id, title: event.title } )'>Contact organiser</a>
                </div>

                <div class="dropdown dropleft action-menu-yqn">
                    <a href class="action-menu-yqn p-1 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" v-on:click.prevent="yqnUtils.share(event.url)"><i class="fas fa-share-alt"></i> Share</a>
                        <a v-if="event.user.id == yqnUtils.loggedInUser.id" class="dropdown-item" href="#" v-on:click.prevent="deleteObj(event.id)"><i class="far fa-trash-alt" ></i>  Delete</a>
                        <a class="dropdown-item" href="#" v-on:click.prevent="yqnBus.$emit('contact', { modelName: 'EventsLocation', objectId: event.id, title: 'Report: '+event.title, report: true })"><i class="far fa-flag"></i> Report</a>
                    </div>
                </div> <!-- / dropdown -->
           </div>
       </transition-group>
   </div> <!-- end events widget -->
   </script>


   <script type="text/javascript">

       Vue.component('regular-events', {
           props: [ 'groupPage' ],

           template: '#regular-events-template',

           data: function() {
               return {
                   alphabet: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
                   search: null,
                   searchText: null,
                   yqnUtils: yqnUtils,
                   yqnBus: yqnBus,
                   regularEvents: [],
                   enabled: false,
                   searchTimer: null,
                   regions: [],
                   currentRegion: null,
               }
           },

           watch: {
               search: "fetchData",
               searchText: "waitForTypingToStop",
               currentRegion: "fetchData",
           },

           created: function (){
                let ctx = this;

                this.fetchData();

                yqnBus.$on("data-added", function(){
                    /* TODO instead of refresh we could appened to the events[] ? */
                    console.log("Get message data changed");
                    ctx.fetchData();
                });

                window.onpopstate = function(event) {
                    if (event.state.search){
                        ctx.search = event.state.search;
                    }
                };

           },

           updated: function(){
               /* Setup the Bootstrap tooltips */
               this.$nextTick(function () {
                   $(".list-item [title]").tooltip();
               });
           },


           methods: {
               fetchData() {
                   let ctx = this;

                   let url = "/api/EventsLocations/"

                   let params = {}

                   if (this.currentRegion){
                        params.region = this.currentRegion;
                   }

                   if (this.search){
                       params.search =  "^"+this.search.replace(" ", "+");
                       window.history.pushState({ search: this.search }, "search", "?search="+this.search);
                   }

                   if (this.groupPage){
                       params.group_page = this.groupPage;
                   }

                   /* This API expects some parameters, set the default
                    *  to just alphabetical search */
                   if (Object.keys(params).length == 0){
                       this.search = 'a';
                       params.search = this.search;
                   }

                   url += yqnUtils.urlParams(params);

                   $.getJSON(url, function (data) {
                       ctx.regularEvents = data;
                       ctx.enabled = true;
                   });
               },

               deleteObj(id){
                   let ctx = this;
                   yqnUtils.delete("/api/EventsLocation/" + id, function(){
                       yqnBus.$emit("notify", { title: "Deleted", body: "Event deleted"});
                       ctx.fetchData();
                   });
               },

               waitForTypingToStop(){
                   if (this.searchTimer){
                       window.clearTimeout(this.searchTimer);
                   }

                   let ctx = this;
                   this.searchTimer = window.setTimeout(function(){
                       ctx.search = ctx.searchText;
                   }, 500);
               },

               setCurrentRegion(e){
                    this.currentRegion = e.srcElement.value;
               },

               fetchRegions(){
                   if (this.regions.length > 0){
                       return;
                   }

                   let ctx = this;

                   $.getJSON("/api/Regions/", function(data){
                       ctx.regions = data;
                   });

               },
           }
       });

   var vApp = new Vue({
       el: '#regular-events-app',
   });

   </script>
